<section id="main">
    <div id="page-2" class="content">
        <h2 class="intro">Welcome! We are small but functional web design agency based in New York. We enjoy creating <a href="#">mobile</a> &amp; <a href="#">web apps</a> with simple style.</h2>

        <div class="flexslider clearfix">
            <ul class="slides">
              <li><%= image_tag "slide_1.jpg", :class => "attachment-slider wp-post-image", :title => "slide_1" %></li>
              <li><%= image_tag "slide_2.jpg", :class => "attachment-slider wp-post-image", :title => "slide_2" %></li>
              <li><%= image_tag "slide_3.jpg", :class => "attachment-slider wp-post-image", :title => "slide_3" %></li>
            </ul>
        </div>

        <p>

        <div class="columns">
            <div class="first one-third"><%= image_tag "app_64.png", :class => "center"%>

                <h4 class="aligncenter">Responsive</h4>

                <p class="aligncenter">Quisque eget mi mi, sed egestas lectus. Fusce dictum, ligula id gravida tempus, sem felis bibendum odio, quis pulvinar purus eros eu elit.</p>

            </div>




            <div class="one-third"> <%= image_tag "frame_64.png", :class => "center"%>

                <h4 class="aligncenter">Minimal Design</h4>

                <p class="aligncenter">Sed sit amet diam purus. Donec eu purus sit amet lacus aliquam pharetra sed gravida odio. Aliquam a ipsum mi, in accumsan diam.</p>

            </div>




            <div class="one-third"> <%= image_tag "bulb_off_64.png", :class => "center"%>

                <h4 class="aligncenter">Professionally Coded</h4>

                <p class="aligncenter">Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.</p>

            </div>
        </div>
        </p>
        <hr class="divider">

        <blockquote>
            <p>Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.</p>
            <p>&mdash; <cite>John Doe, Themforest.net</cite></p>
        </blockquote>

    </div>

    <div class="copyright">All Rights Reserved © 2012</div>

</section>