<section id="main">
  <div id="page-9" class="content">
    <div class="page_title">
      <h2>Services</h2>
    </div>
    <p>

    <div class="columns">
      <div class="first one-half"> <%= image_tag "gear_64.png" %>
        <div class="excerpt">
          <h3>Web Development</h3>

          <p>Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.</p>
        </div>
      </div>




      <div class="one-half"> <%= image_tag "cart_64.png" %>
        <div class="excerpt">
          <h3>E-Commerce</h3>

          <p>Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.</p>
        </div>
      </div>
    </div>
    </p>
    <p>

    <div class="columns">
      <div class="first one-half"> <%= image_tag "chart_line_64.png" %>
        <div class="excerpt">
          <h3>Web Marketing</h3>

          <p>Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.</p>
        </div>
      </div>




      <div class="one-half"> <%= image_tag "film_64.png" %>
        <div class="excerpt">
          <h3>E-Commerce</h3>

          <p>Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.</p>
        </div>
      </div>
    </div>
    </p>
    <p>

    <div class="columns">
      <div class="first one-half"> <%= image_tag "brush_64.png"%>
        <div class="excerpt">
          <h3>Logo &amp; Graphic Design</h3>

          <p>Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.</p>
        </div>
      </div>




      <div class="one-half"> <%= image_tag "film_64.png" %>
        <div class="excerpt">
          <h3>Video Editing</h3>

          <p>Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.</p>
        </div>
      </div>
    </div>
    </p>
    <hr class="divider">
    <p>Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.Praesent non velit sed velit convallis pellentesque. Donec luctus auctor felis eu pellentesque. Donec sit amet ipsum velit, in iaculis risus.</p>
  </div>

  <div class="copyright">All Rights Reserved © 2012</div>

</section>